doctype html
html
  head
    title L S Q Microservice Platform
    meta(http-equiv="X-UA-Compatible",content="IE=8")
    meta(name="viewport" ,content="initial-scale=1.0, user-scalable=no")
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/images/color.v1.png")
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-fixed-top
      header.colorbar
        ul.list-inline
          li.bottom-shadow
          li.bottom-shadow
          li.bottom-shadow
          li.bottom-shadow
          li.bottom-shadow
          li.bottom-shadow
          li.bottom-shadow
          li.bottom-shadow

      .container.hidden-xs.hidden-sm
        ul.nav.nav-pills
          li
            a(href="https://github.com/LiveSqrd/app-example", target="_blank") This Repo
          li
            a(href="https://groups.google.com/forum/#!forum/lsqio", target="_blank") Feedback
          li
            a(href="https://www.lsq.io", target="_blank") LSQ.io

    section.container-fluid(id="home")
      .row
        .col-sm-12
          .banner
            h1 L S Q
            h2
              | The
              span.colorSwitcher  microservice
              |  platform
            h4 The first platform for rapid development of Microservices.
    block content